@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
body {
  background: black;
}

.theme {
  font-family: "Poppins", sans-serif;
}
.theme * {
  box-sizing: border-box;
}
.theme input,
.theme select,
.theme textarea,
.theme button {
  font-family: "Poppins", sans-serif;
  padding: 13px;
  font-size: 0.7rem;
  border: 1px solid #343434;
  border-radius: 2px;
  background: rgb(22, 22, 22);
  color: #cccccc;
  text-overflow: ellipsis;
}
.theme footer {
  width: 100%;
  margin-top: auto;
}
.theme footer nav {
  display: flex;
  justify-content: flex-end;
}
.theme footer nav a {
  padding: 0.2em;
  opacity: 0.3;
}
.theme footer nav a:hover {
  opacity: 0.9;
}
.theme footer nav a img {
  width: 1.7em;
}
.theme .inputChain:first-child {
  border-radius: 3px 0px 0px 3px;
}
.theme .inputChain:last-child {
  border-radius: 0px 3px 3px 0px;
}
.theme button {
  padding: 5px 9px;
  background: #b9a892;
  border-radius: 3px;
  color: #000000;
  font-weight: bold;
  border: none;
  font-size: 0.8em;
}
.theme button:hover {
  filter: brightness(0.85);
}
.theme input:disabled {
  color: #949494;
}
.theme fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  border: 0;
}
.theme fieldset label {
  width: 100%;
  max-width: 500px;
}
.theme fieldset button {
  justify-self: flex-end;
}
.theme fieldset button.leftButton {
  margin-right: auto;
}
.theme label {
  font-family: "Jockey One", sans-serif;
  color: #f7e3c9;
}
.theme ul {
  margin: 0px;
  padding: 0px;
}
.theme a {
  color: #ff7900;
  padding: 0.25em 0.5em;
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
}
.theme .button {
  color: #ffad00;
  cursor: pointer;
  vertical-align: middle;
  opacity: 0.9;
}
.theme .button:hover {
  opacity: 1;
}
.theme svg {
  color: #ffad00;
  cursor: pointer;
  opacity: 0.9;
}
.theme svg:hover {
  opacity: 1;
}
.theme svg.button {
  font-size: 1.3em;
}
.theme .dangerBg {
  background: red;
  color: white;
}

.container {
  max-width: 1400px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.7em;
}
.row > * {
  margin-bottom: 0.7em;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

@keyframes loadingSpinner {
  to {
    transform: rotate(360deg);
  }
}
.loadingSpinner {
  position: relative;
  width: 20px;
  height: 20px;
}

.loadingSpinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.5);
  animation: loadingSpinner 0.6s linear infinite;
}

.loading {
  position: relative;
}
.loading > * {
  filter: opacity(0.3);
}
.loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.loading:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.5);
  animation: loadingSpinner 0.6s linear infinite;
  z-index: 2;
}

.errorFlash {
  animation-name: errorFlash;
  animation-duration: 0.3s;
}

@keyframes errorFlash {
  from {
    background-color: rgba(255, 0, 0, 0.603);
    border-color: red;
  }
}
.errorCaption {
  font-family: "Poppins", sans-serif;
  position: absolute;
  color: red;
  font-size: 0.7em;
  transform: translateY(-175%);
}

.error {
  color: red;
  text-align: center;
}

.card {
  display: inline-flex;
  flex-direction: column;
  color: #cccccc;
}
.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.card header .title {
  font-size: 1.5em;
  font-family: "Jockey One", sans-serif;
  color: #ffb657 !important;
}
.card header svg {
  color: #b3b3b3;
  padding: 5px;
  cursor: pointer;
}
.card main {
  border-radius: 3px;
  background: rgb(12, 12, 12);
  padding: 10px;
}
.card label {
  font-size: 0.75em;
  margin-bottom: 10px;
}
.card label:last-child {
  margin-bottom: 0px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li {
  display: flex;
  font-size: 0.8em;
}
.pagination .disabled a {
  text-decoration: none;
  opacity: 0.5;
  cursor: default;
}

.fullscreen {
  height: 100vh;
}/*# sourceMappingURL=theme.module.css.map */